@import 'bootstrap/scss/bootstrap';

body {
    background-color: #0D1016;
    margin-top: 50px;
    font-family: 'Lato';
}
h1{
    color: #fff;
}
p{
    color: #fff;
    
}
button{
    color: #fff;
    background-color: #0D1016;
    border-color: #0D1016;
}
